---
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';
import { SEO } from "astro-seo";

import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Slider from '../components/Slider.astro';
import Kucing from '../assets/kucing.webp';

const blogPosts = await getCollection('blog');
type BlogPost = CollectionEntry<'blog'>;
---

<Layout title="Home">

	<!-- documentation on https://github.com/jonasmerlin/astro-seo -->
	<SEO
		slot="seo"
    title="ZtackDev"
    description=
			{`
				Selamat datang di ZtackDev, tempat Anda menemukan berita terbaru, tutorial, dan sumber daya tentang teknologi perangkat lunak.
				Temukan informasi terkini tentang berbagai bahasa pemrograman, framework, hingga praktik terbaik dalam pengembangan perangkat lunak.
			`}
    openGraph={{
      basic: {
        title: "ZtackDev",
        type: "Website",
        image: Kucing.src,
      }
    }}
  />

	<Slider post={blogPosts.filter((post) => post.data.isPinned)} />

	<main class="container mt-content col-md-10 col-xl-8 offset-md-1 offset-xl-2">
		<h1 class="fs-1 mb-5">Articles</h1>
		<div class="d-flex flex-column gap-3">
			{
				blogPosts
					.sort((a, b) => (b.data.index ?? 0) - (a.data.index ?? 0))
					.map((post: BlogPost) => (
						<div class="col">
							<Card post={post} slugNested={false} />
							{/* <a href={`/blog/${post.slug}`}>{post.data.title}</a> */}
						</div>
					))
			}
		</div>
	</main>

</Layout>