---
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';
import { SEO } from "astro-seo";

import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Slider from '../components/Slider.astro';
import Kucing from '../assets/Kucing.webp';

const blogPosts = await getCollection('blog');
type BlogPost = CollectionEntry<'blog'>;
---

<Layout title="Home">

	<!-- documentation on https://github.com/jonasmerlin/astro-seo -->
	<SEO
		slot="seo"
    title="Software Technologies Portal - Developers Need to Know"
    description=
			{`
				Selamat datang di Software Technologies Portal, tempat Anda menemukan berita terbaru, tutorial, dan sumber daya tentang teknologi perangkat lunak.
				Temukan informasi terkini tentang berbagai bahasa pemrograman, framework, hingga praktik terbaik dalam pengembangan perangkat lunak.
			`}
    openGraph={{
      basic: {
        title: "Software Technologies Portal - Developers Need to Know",
        type: "Website",
        image: Kucing.src,
      }
    }}
  />

	<Slider post={blogPosts.filter((post) => post.data.isPinned)} />

	<main class="container mt-content">
		<h1 class="fs-1 mb-5">Articles</h1>
		<div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-4">
			{
				blogPosts
					.map((post: BlogPost) => (
						<div class="col">
							<Card post={post} />
							{/* <a href={`/blog/${post.slug}`}>{post.data.title}</a> */}
						</div>
					))
			}
		</div>
	</main>

</Layout>