---
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';
import { SEO } from "astro-seo";

import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Slider from '../components/Slider.astro';
import Kucing from '../assets/kucing.webp';

const blogPosts = await getCollection('blog');
type BlogPost = CollectionEntry<'blog'>;
---

<Layout title="Home">

	<!-- documentation on https://github.com/jonasmerlin/astro-seo -->
	<SEO
		slot="seo"
    title="ZtackDev"
    description=
			{`
				Selamat datang di ZtackDev, tempat Anda menemukan berita terbaru, tutorial, dan sumber daya tentang teknologi perangkat lunak.
				Temukan informasi terkini tentang berbagai bahasa pemrograman, framework, hingga praktik terbaik dalam pengembangan perangkat lunak.
			`}
    openGraph={{
      basic: {
        title: "ZtackDev",
        type: "Website",
        image: Kucing.src,
      }
    }}
  />

	<section class="hero-section text-center">
		<div class="container col-lg-8 col-md-10 px-3">
			<h1 class="fw-bold display-5 mb-3">
				Selamat datang di <span class="text-primary">ZtackDev</span>
			</h1>
			<p class="lead text-muted">
				Tempat Anda menemukan <span class="fw-semibold">berita terbaru</span>, 
				tutorial, dan sumber daya tentang teknologi dan pengembangan perangkat lunak.  
				<br />
				<br />
				Temukan informasi terkini tentang berbagai bahasa pemrograman, framework, library, cheat sheet, habit,
				hingga best practice dalam pengembangan perangkat lunak.
			</p>
		</div>
	</section>



	<Slider post={blogPosts.filter((post) => post.data.isPinned)} />

	<main class="container mt-content col-md-10 col-xl-8 offset-md-1 offset-xl-2">
		<h1 class="fs-1 mb-5">Articles</h1>
		<div class="d-flex flex-column gap-3">
			{
				blogPosts
					.sort((a, b) => (b.data.index ?? 0) - (a.data.index ?? 0))
					.map((post: BlogPost) => (
						<div class="col">
							<Card post={post} slugNested={false} />
							{/* <a href={`/blog/${post.slug}`}>{post.data.title}</a> */}
						</div>
					))
			}
		</div>
	</main>

	<style>
	.hero-section {
			background: linear-gradient(135deg, #fff 0%, #f8f9fa 100%);
			padding-top: 120px;
			padding-bottom: 40px;
			border-bottom: 1px solid #e9ecef;
			margin-bottom: -55px
		}
	</style>


</Layout>