---
// import { Image } from 'astro:assets';

// import astro from '../assets/astro.svg';
---

<nav class="navbar navbar-expand-lg fixed-top bg-dark" data-bs-theme="dark">
  <div class="container-fluid flex-row justify-content-between align-items-center w-75">
    <a class="navbar-brand" href="/">
      <img src="/favicon.svg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
      ZtackDev
    </a>

    <ul class="d-none d-lg-flex container-fluid flex-row justify-content-end navbar-nav my-2 gap-3">
      <li class="nav-item">
        <a class="nav-link" aria-current="page" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" aria-current="page" href="#">About</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Blog
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Pengenalan</a></li>
          <li><a class="dropdown-item" href="#">Cheatsheets</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="nav-link disabled" aria-disabled="true">Perbandingan</a></li>
          <li><a class="nav-link disabled" aria-disabled="true">Best Practice</a></li>
          <li><a class="nav-link disabled" aria-disabled="true">Habits</a></li>
        </ul>
      </li>
    </ul>      

    <button class="d-lg-none navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-around" id="navbarScroll">
      <ul class="d-lg-none navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 120px;">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">About</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Blog
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Pengenalan</a></li>
            <li><a class="dropdown-item" href="#">Cheatsheets</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="nav-link disabled" aria-disabled="true">Perbandingan</a></li>
            <li><a class="nav-link disabled" aria-disabled="true">Best Practice</a></li>
            <li><a class="nav-link disabled" aria-disabled="true">Habits</a></li>
          </ul>
        </li>
      </ul>
    </div>

  </div>
</nav>